/* .bg{
  background: #000;
  height: 100%;
} */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .card {
    max-width: 400px;
  }
  
  .header-image {
    background-image: url('../../assets/img/dhl.png');
    background-size: cover;
    background-position: center center;
  }