.container{
    padding: 2rem;
    /* background: repeating-linear-gradient(90deg, #d8d8d8, #eaeaea 100px); */
    background: transparent;
}
.width-100{
    width: 100%;
}
.field{
    margin-bottom: 0;
}
.fluid .p-inputtext {
    width: 100%;
}
.order {
    background: #d40513;
    border: none;
}
.order:hover {
    color: #d40513;
    border: none;
    background: #ffcc00;
}
.md\:col-6.bg {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px #a7a7a7;
}
h3.order-heading {
    font-size: 24px;
    padding: 18px;
    padding-top: 0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #d40513;
}
.text-danger{
    color: #d40513;
}
.data table {
    width: 100%;
}
.data table th, .data table td {
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    padding: 10px;
}
.data {
    padding: 20px;
    margin: 0 10rem;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffcc0029;
    border-color: #ffcc00;
}