<div class="container">
    <!-- <p>{{selectedItem.name}}</p> -->
    <h3 class="text-center order-heading">Order Now</h3>
    <div class="grid">
        <div class="md:col-3"></div>
        <div class="md:col-6 bg">
            <form novalidate [formGroup]= 'submitdata' (ngSubmit) ='onSubmit()' >
                <div class="fluid formgrid grid" >
                    <div class="field md:col-6" *ngIf="selectedItem" >
                        <label for="item">Item</label>
                        <input id="item" type="text" value="{{selectedItem.name}}" pInputText formControlName="item" readonly required/>
                    </div>
                    <div class="field md:col-6" *ngIf="selectedItem" >
                        <label for="price">Price</label>
                        <input id="price" type="number" value="{{selectedItem.price}}" pInputText formControlName="price" readonly required/>
                    </div>
                    <div class="field md:col-6">
                        <label for="firstname">Firstname</label>
                        <input id="firstname" type="text" pInputText formControlName="fname" required
                         />
                        <div *ngIf="ErrorMessage.fname.touched && ErrorMessage.fname.invalid">
                            <small class="text-danger" *ngIf="ErrorMessage.fname.errors?.required">
                                Name is required!
                            </small>
                        </div>
                    </div>
                    <div class="field md:col-6">
                        <label for="lastname">Lastname</label>
                        <input id="lastname" type="text" pInputText  formControlName="lname" required/>
                        <div *ngIf="ErrorMessage.lname.touched && ErrorMessage.lname.invalid">
                            <small class="text-danger" *ngIf="ErrorMessage.lname.errors?.required">
                                Name is required!
                            </small>
                        </div>
                    </div>
                    <div class="field md:col-12">
                        <label for="address">Address</label>
                        <textarea id="address" type="text" rows="4" pInputTextarea formControlName="address" required></textarea>
                        <div *ngIf="ErrorMessage.address.touched && ErrorMessage.address.invalid">
                            <small class="text-danger" *ngIf="ErrorMessage.address.errors?.required">
                                Address is required!
                            </small>
                        </div>
                    </div>
                    <div class="field md:col-6">
                        <label for="city">City</label>
                        <input id="city" type="text" pInputText formControlName="city" required/>
                        <div *ngIf="ErrorMessage.city.touched && ErrorMessage.city.invalid">
                            <small class="text-danger" *ngIf="ErrorMessage.city.errors?.required">
                                City is required!
                            </small>
                        </div>
                    </div>
                    <div class="field md:col-6">
                        <label for="zip">Zip</label>
                        <input id="zip" type="number" pInputText formControlName="zip" required/>
                        <div *ngIf="ErrorMessage.zip.touched && ErrorMessage.zip.invalid">
                            <small class="text-danger" *ngIf="ErrorMessage.zip.errors?.required">
                                Zip code is required!
                            </small>
                        </div>
                    </div>
                </div>
                <button pButton type="submit" name="submit" class="order width-100 text-center block">Place Order</button>
            </form>
        </div>
        <div class="md:col-3"></div>
    </div>
    <div *ngIf="show">
        <div class="data">
            <table>
                <thead>
                    <th>Item</th>
                    <th>Price</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip</th>
                </thead>
                <tbody>
                    <td>{{show.item}}</td>
                    <td>{{show.price}}</td>
                    <td>{{show.fname}}</td>
                    <td>{{show.lname}}</td>
                    <td>{{show.address}}</td>
                    <td>{{show.city}}</td>
                    <td>{{show.zip}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>